$thumbnail-size: 250px;

#products,.featured-products,.product-accessories,.product-miniature  {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-thumbnail {
    display: block;
  }
  .product-title a {
    color: $blue-text;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
  }
  .product-header {
    position: relative;
    z-index: 1;
  }
  .thumbnail-container {
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 70px;
    box-shadow: 0 9px 43px #eee;
    .product-thumbnail {
      img {
        position: relative;
        top: -50px;
        margin: 0 auto -50px;
        display: block;
        max-width: 100%;
      }
    }
  }
  .products-section-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .product-title {
    text-align: center;
    text-transform: capitalize;
  }
  .product-price-and-attributes {
    color: $blue-text;
    text-align: center;
    font-size: 0.875rem;
    margin: 15px 0;
    .price {
      color: $brand-secondary;
      font-weight: 700;
    }
    .product-attributes {
      display: inline-block;
      padding-right: 15px;
    }
    .product-attribute:not(:last-of-type):after {
      display: inline-block;
      content: '+';
      padding-left: 4px;
    }
  }

  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    display: none;
  }
  .count {
    color: $gray;
    font-weight: 700;
    position: relative;
    bottom: 0.5rem;
  }
  .all-product-link {
    clear: both;
    color: $gray;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  #products,.featured-products,.product-accessories  {
    .thumbnail-container {
      @include box-shadow;
    }
  }
}
