$thumbnail-size: 250px;
$product-description-height: 70px;

#products,.featured-products,.product-accessories,.product-miniature  {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-thumbnail {
    display: block;
  }
  .product-title a {
    color: $blue-text;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
  }
  .product-header {
    position: relative;
    z-index: 1;
  }
  .thumbnail-container {
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 70px;
    box-shadow: 0 9px 43px #eee;
    .product-thumbnail {
      img {
        position: relative;
        top: -50px;
        margin: 0 auto -50px;
        display: block;
        max-width: 100%;
      }
    }
  }
  .products-section-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .product-title {
    text-align: center;
    text-transform: capitalize;
  }
  .product-price-and-attributes {
    color: $blue-text;
    text-align: center;
    font-size: 0.875rem;
    margin: 15px 0;
    .price {
      color: #f18703;
      font-weight: 700;
    }
    .product-attributes {
      display: inline-block;
      padding-right: 15px;
    }
    .product-attribute:not(:last-of-type):after {
      display: inline-block;
      content: '+';
      padding-left: 4px;
    }
  }

  .product-description {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2;
    .quick-view {
      display: inline-block;

      min-width: 188px;
      padding: 10px;
      box-shadow: 0 2px 1px #416808;
      border-radius: 22px;
      text-align: center;

      font-weight: 700;
      text-transform: uppercase;
      font-size: 1rem;
      color: #fff;
    }
  }

  .product-miniature {
    .product-flags {
      li.product-flag {
        min-width: 3.125rem;
        min-height: 1.875rem;
        font-weight: 600;
        &.online-only {
          top: 13.1rem;
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    display: none;
  }
  .count {
    color: $gray;
    font-weight: 700;
    position: relative;
    bottom: 0.5rem;
  }
  .all-product-link {
    clear: both;
    color: $gray;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  #products,.featured-products,.product-accessories  {
    .thumbnail-container {
      @include box-shadow;
      .product-description{
        box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
