.footer-logo {
  margin-bottom: 30px;
}

.block-social {
  padding-right: 55px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > li > a {
      font-size: 1.6875rem;
      color: $brand-primary;
    }
  }
}

.footer-container {
  margin-top: 1.875rem;
  padding-top: 9.0625rem;
  padding-bottom: 6.5625rem;
  overflow: hidden;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fff;
}

.footer-block-title {
  text-transform: uppercase;
  color: #111620;
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 0;
  font-weight: 800;
}

.footer-text {
  margin: 0;
  line-height: 1.875rem;
  font-size: 0.9375rem;
  color: #111620;
}

@include media-breakpoint-up(lg) {
  .block-contact {
    float: right;
  }
}

.links {
  a {
    @extend .footer-text;
  }
  .h3 {
    @extend .footer-block-title;
  }
  @include media-breakpoint-up(lg) {
    .collapse {
      display: block;
    }
  }
}

.copyright {
  background: #000 url(../img/copyright.png) center no-repeat;
  padding: 1.4375rem 0 1.5rem;
  .text {
    color: white;
    line-height: 1;
    margin: 0;
  }
}
