.search-widget {
  display: inline-block;
  @include search-box;
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

@include media-breakpoint-up(md) {
  .search-widget {
    min-width: 16.63rem;
  }
}
